<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <title>Company Proile</title>
</head>

<body>
  <!-- navbar -->
  <!-- <nav class="navbar navbar-expand-lg bg-body-tertiary ">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
        aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">
        <span>
          <img src="images/logo.svg" alt="">
           </span>
        <span class="brandName">  
          Job Junction
        </span>
      </a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="./index.html">
              Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="./about.html">
              About Us
            </a>
          </li>
           <li class="nav-item">
            <a class="nav-link" aria-current="page" href="./studentLogin.html">
              Student Login
            </a>
          </li> 
           <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="./studentSignup.html">
              Student SignUp
            </a>
          </li> 

        </ul>

        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav> -->

  <nav class="navbar navbar-expand-lg navbar-light bg-light static-top">
    <div class="container">
      <a class="navbar-brand logo-trans" href="./index.html">
        <img src="/images/logo.svg" alt="..." height="50">
        <soan> Job Junction</soan>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto px-3">
          <li class="nav-item">
            <a class="nav-link px-3 active" aria-current="page" href="./profile">Company</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-3 disabled" href="./about.html">About Us</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle px-3" href="#" id="navbarDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-circle-user"
                style="scale: 2.3; margin-right: 10px; color : #027bfb"></i>
              <!-- Join     <img src="images/arrow.svg" alt="" height="25"></span> -->
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item py-2 active" href="./profile">Company Profile</a></li>
              <!-- <hr class="dropdown-divider"> -->
              <li><a class="dropdown-item py-2 "  href="./editCompany">Edit Profile</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="./logOutCompany"><i class="fa-solid fa-power-off"
                    style="color: #027bfb; margin-right: 13px; scale: 1.3;"></i>Logout</a></li>
              <hr class="dropdown-divider">
              <li><a class="dropdown-item" href="./deleteCompany"><i class="fa-solid fa-user-minus"
                    style="color: #027bfb; margin-right: 13px; scale: 1.3;"></i>Delete Profile</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- content : signup form -->
 <!--  <div class="content">


    <table>
      <tr>
        <td>Company Name : </td>
        <td><%= name%></td>
      </tr>
      <tr>
      <tr>
        <td>Email : </td>
        <td><%= email%></td>
      </tr>
      <tr>
        <td>Age : </td>
        <td><%= age%> </td>
      </tr>
      <tr>
        <td>CPI : </td>
        <td><%= cpi%> </td>
      </tr>
      <tr>
        <td>Website : </td>
        <td><%= website%> </td>
      </tr>
      <tr>
        <td>Position : </td>
        <td><%= position%> </td>
      </tr>
      <tr>
        <td>Package : </td>
        <td><%= package%> LPA </td>
      </tr>
      <tr>
        <td>Description : </td>
        <td><%= description%> </td>
      </tr>
    </table>

    <a href="./editCompany.html"> <button>Edit Profile</button> </a>
    <a href="./logOutCompany"> <button>Logout Profile</button> </a>
    <a href="./deleteCompany"> <button>Delete Profile</button> </a> 

  </div>
-->

<div class="profilecontent my-4">
  <div class="container bg-light d-flex justify-content-center align-items-center">

    <form class="well form-horizontal "  id="contact_form">
      <!-- <fieldset> -->

      <!-- Form Name -->
      <legend>
        <center>
          <h2 ><b>Your Company Profile</b></h2>
        </center>
      </legend><br>

      <!-- Text input-->

      <div class="form-group mt-4">
        <!-- <label class="col-md-4 control-label">First Name</label>   -->
        <div class=" inputGroupContainer">
          <div class="input-group mb-3">
            <span class="mx-3 my-auto">Company name : </span>
            <span class="input-group-text" id="basic-addon1"><i class="fa fa-user-circle mx-1"></i> </span>
            <!-- <span class="input-group-text" id="basic-addon1"> First name : </span> -->
            <input type="text" class="form-control" name="name" id="name" value="<%=name%>" readonly >
          </div>
        </div>
      </div>

      <!-- Text input-->

      <!-- Text input-->
      <div class="form-group">
        <!-- <label class=" control-label">E-Mail</label>   -->
        <div class=" inputGroupContainer">
          <div class="input-group mb-3">
            <span class="mx-3 my-auto">Email : </span>
            <span class="input-group-text" id="basic-addon1"><i class="fa fa-envelope mx-1"></i> </span>
            <!-- <span class="input-group-text" id="basic-addon1"> First name : </span> -->
            <input type="email" class="form-control" name="email" id="email" value="<%=email%> " readonly>
          </div>
        </div>
      </div>



      <div class="form-group">
        <!-- <label class=" control-label">Contact No.</label>   -->
        <div class=" inputGroupContainer">
          <div class="input-group mb-3">
            <span class="mx-3 my-auto">Age : </span>
            <span class="input-group-text" id="basic-addon1"><i class="fa fa-user-circle mx-1"></i> </span>
            <!-- <span class="input-group-text" id="basic-addon1"> First name : </span> -->
            <input type="text" class="form-control" name="age" id="age" value="<%=age%> "  readonly>
          </div>
        </div>
      </div>

      <div class="form-group">
        <!-- <label class=" control-label">Contact No.</label>   -->
        <div class=" inputGroupContainer">
          <div class="input-group mb-3">
            <span class="mx-3 my-auto">Position : </span>
            <span class="input-group-text" id="basic-addon1"><i class="fa fa-user-circle mx-1"></i> </span>
            <!-- <span class="input-group-text" id="basic-addon1"> First name : </span> -->
            <input type="text" class="form-control" name="position" id="position" value="<%=position%> "  readonly>
          </div>
        </div>
      </div>

      <div class="form-group">
        <!-- <label class=" control-label">Contact No.</label>   -->
        <div class=" inputGroupContainer">
          <div class="input-group mb-3">
            <span class="mx-3 my-auto">Package: </span>
            <span class="input-group-text" id="basic-addon1"><i class="fa fa-user-circle mx-1"></i> </span>
            <!-- <span class="input-group-text" id="basic-addon1"> First name : </span> -->
            <input type="text" class="form-control" name="package" id="package" value="<%=package%>"  readonly>
          </div>
        </div>
      </div>




      <div class="form-group mt-3">
        <!-- <label class=" control-label">Contact No.</label>   -->
        <div class=" col-mt-4 inputGroupContainer">
          <div class="input-group mb-3">
            <span class="mx-3 my-auto">Min. CPI : </span>
            <span class="input-group-text" id="basic-addon1"><i class="fa fa-user-circle mx-1"></i> </span>
            <!-- <span class="input-group-text" id="basic-addon1"> First name : </span> -->
            <input type="text" class="form-control" name="cpi" id="cpi" value="<%=cpi%> " readonly>
          </div>
        </div>
      </div>

      <div class="form-group mt-3">
        <!-- <label class=" control-label">Contact No.</label>   -->
        <div class=" col-mt-4 inputGroupContainer">
          <div class="input-group mb-3">
            <span class="mx-3 my-auto">Description  </span>
            <span class="input-group-text" id="basic-addon1"><i class="fa fa-user-circle mx-1"></i> </span>
            <!-- <span class="input-group-text" id="basic-addon1"> First name : </span> -->
            <input type="text" class="form-control" name="description" id="description" value="<%=description%> " readonly>
          </div>
        </div>
      </div>

      <div class="form-group mt-3">
        <div class=" col-mt-4 inputGroupContainer">
          <div class="input-group mb-3">
            <span class="mx-3 my-auto">Github link : </span>
            <a class="d-inline mx-3" href="<%=website%>" target="_blank">
              <%=website%>
            </a>
          </div>

        </div>
      </div>
<!-- 
      <input class="  btn btn-primary " href="./editStudent.html" type="button" value="Edit Profile"> -->
      <a class=" mt-4 btn btn-primary w-100" href="./editCompany.html" role="button">Edit Profile</a>


    </form>
  </div>
</div>


  <hr class="my-3">
  <section class="p-3 pt-0">
    <div class="row d-flex align-items-center">
      <!-- Grid column -->
      <div class="col-md-7 col-lg-8 text-center text-md-end">
        <!-- Copyright -->
        <div class="p-3 flex" style="font-size : 15px;">
          <b>Designed & Managed By : Jay Sanghani</b>
          <a href="mailto:work.jay.sanghani@gmail.com" target="_blank">
            <button type="button b2" class="btn btn-outline-primary"
              style="margin-left : 20px; border-radius: 15px;">Contact me</button>
          </a>
        </div>
        <!-- Copyright -->
      </div>
      <!-- Grid column -->

      <!-- Grid column -->

  </section>
</body>

</html>