<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <!-- <link rel="icon" type="image/x-icon" href="/images/logo.svg"> -->
  <title>Dashboard</title>
</head>

<body>
  <!-- navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light static-top">
    <div class="container">
      <a class="navbar-brand logo-trans" href="./index.html">
        <img src="/images/logo.svg" alt="..." height="50">
        <soan> Job Junction</soan>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto px-3">
          <li class="nav-item">
            <a class="nav-link active px-3" aria-current="page" href="#">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-3 disabled" href="./about.html">About Us</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle px-3" href="#" id="navbarDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-circle-user"
                style="scale: 2.3; margin-right: 10px; color : #027bfb"></i>
              <!-- Join     <img src="images/arrow.svg" alt="" height="25"></span> -->
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item py-2" href="./studentProfile">Your Profile</a></li>
              <!-- <hr class="dropdown-divider"> -->
              <li><a class="dropdown-item py-2" href="./editStudent">Edit Profile</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="./logOutStudent"><i class="fa-solid fa-power-off"
                    style="color: #027bfb; margin-right: 13px; scale: 1.3;"></i>Logout</a></li>
              <hr class="dropdown-divider">
              <li><a class="dropdown-item" href="./deleteStudent"><i class="fa-solid fa-user-minus"
                    style="color: #027bfb; margin-right: 13px; scale: 1.3;"></i>Delete Profile</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <section class="disabled">
    <div class="d-inline-block d-flex align-items-center"
      style="width: 100vw; background-color: rgba(200, 33, 66, 0.274); height: 250px; padding-left: 20%;">
      <div class="">
        <h2> Hello <span class="text-blue">
            <%= student %>
          </span>,</h2>
        <h3> <br>Look what we've found for you !
        </h3>
      </div>
    </div>
    <div class="text-center position-relative">

      <div class="position-absolute top-50 start-50 translate-middle rounded"
        style="background-color: #027bfb;">
        <div class="input-group formf">
          <i class="fa fa-edit top-100 text-white d-flex align-items-center justify-content-end mr-2"
            style="width: 50px;"></i>
          <input type="text" class="form-control" placeholder="Job title or Keyword"
            style="border-radius: 15px;  margin-left: 5px; width: 130px;">
          <i class="fa fa-location-dot top-100 text-white d-flex align-items-center mx-2"></i>
          <input type="text" class="form-control" placeholder="Location" style="border-radius: 15px; width: 30px;">
          <!-- <button class="btn btn-outline-secondary" type="button">Button</button> -->
          <button class="btn btn-light" type="button" style="border-radius: 15px">Find job</button>
        </div>
      </div>
    </div>
    </div>
  </section>

  <div class="content p-5 bg-light">

    <div class="card-container container mt-5">
      <% foundCompanies.forEach((company)=> { %>

        <div class="card my-4 jobcard">
          <div class="card-body p-4">
            <div class="d-flex">
              <div class="col-2">
                <img src="images/google.svg" alt="" height="80px">
              </div>
              <div class="col-10">
                <div class="d-flex justify-content-between">
                  <div class="col-9">
                    <h5 class="card-title ">
                      <%=company.name %>
                    </h5>
                  </div>
                  <h6 class="card-subtitletext-muted ">
                    <i class="fa fa-inr mx-1 text-blue"></i>
                    <%=company.package %> LPA
                  </h6>
                </div>
                <h6 class="card-subtitle mb-2 text-muted">
                  <%=company.position %>
                </h6>
                <p class="card-text">
                  <%=company.description %>
                </p>
                <a href=<%=company.website %> class="card-link" target=_blank><%=company.website %></a>
              </div>
            </div>

          </div>
        </div>
        <% }); %>
    </div>

  </div>

        <hr class="my-3">
        <section class="p-3 pt-0">
          <div class="row d-flex align-items-center">
            <!-- Grid column -->
            <div class="col-md-7 col-lg-8 text-center text-md-end">
              <!-- Copyright -->
              <div class="p-3 flex" style="font-size : 15px;">
                <b>Designed & Managed By : Jay Sanghani</b>
                <a href="mailto:work.jay.sanghani@gmail.com" target="_blank">
                  <button type="button b2" class="btn btn-outline-primary"
                    style="margin-left : 20px; border-radius: 15px;">Contact me</button>
                </a>
              </div>
              <!-- Copyright -->
            </div>
        </section>


</body>

</html>